* {
    font-family: 'Montserrat', sans-serif;
}

.main-color{
    color: #1c13a0;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.nav-pills .nav-link,
.nav-pills .show>.nav-link {
  font-size: 3vh;
  color: #323232;
  width: 25%;
}

.cool-link {
    display: inline-block;
    color: #1c13a0;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #1c13a0;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}

.p-responsive {
    font-size: 2.5vh !important;
    margin: 0 1vw;
}

.p-title {
    font-size: 2vw !important;
}

.h-responsive {
    font-size: 2.5vw !important;
}

.router-link-active {
    font-weight: bold;
}

.router-link-active .p-responsive {
    color: #1c13a0 !important;
    font-weight: 900;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: contain;
    
}

.sidebar-categories .head {
    line-height: 60px;
    background: #323232;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.sidebar-categories .main-categories {
    padding: 0 20px;
    background: #fff;
    box-shadow: 0 10px 10px rgba(153, 153, 153, 0.1);
}

.sidebar-categories .main-nav-list a {
    font-size: 14px;
    display: block;
    line-height: 50px;
    padding-left: 10px;
    border-bottom: 1px solid #eee;
}

.sidebar-categories .main-nav-list a:hover {
    color: #ffba00;
}

.sidebar-categories .main-nav-list a .number {
    color: #cccccc;
    margin-left: 10px;
}

.sidebar-categories .main-nav-list a .lnr {
    margin-right: 10px;
    display: none;
}

.sidebar-categories .main-nav-list.child a {
    padding-left: 32px;
}

.sidebar-filter {
    margin-top: 50px;
}

.sidebar-filter .top-filter-head {
    line-height: 60px;
    background: #323232;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.sidebar-filter .head {
    line-height: 60px;
    padding: 0 30px;
    font-size: 14px;
    font-weight: 700;
    color: #222222;
    text-transform: uppercase;
    margin-top: 5px;
}

.sidebar-filter .common-filter {
    border-bottom: 1px solid #eee;
    padding-bottom: 25px;
}

.sidebar-filter .common-filter .filter-list {
    position: relative;
    padding-left: 28px;
}

.filter-list {
    line-height: 30px;
}

.filter-list i {
    margin-right: 10px;
    cursor: pointer;
}

.filter-list .number {
    color: #ccc;
}

.filter-list label {
    margin-bottom: 3px;
    cursor: pointer;
}

.masthead {
    padding-top: 5rem;
    padding-bottom: calc(10rem - 56px);
    background-position: center center;
    background-size: cover;
}

header.masthead hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

header.masthead h1 {
    font-size: 2rem;
}

header.masthead p {
    font-weight: 300;
}

a:not([href]):not([tabindex]), a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none;
}
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
}
button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
a.waves-effect, a.waves-light {
    display: inline-block;
}
a:not([href]) {
    color: inherit;
    text-decoration: none;
}
.btn-floating {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0;
    margin: 10px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width: 47px;
    height: 47px;
}

.btn-floating i {
    display: inline-block;
    width: inherit;
    color: #fff;
    text-align: center;
}

.btn-floating i {
    font-size: 1.25rem;
    line-height: 47px;
}

.waves-effect {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.carousel-item-produce img {
    object-fit: cover;
}

/* HIDE RADIO */
[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type=radio]+img {
    cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked+img {

}

.button-for-quantity {
    height: 5vh;
    width: 5vh
}