* {
    font-family: 'Montserrat', sans-serif;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.nav-pills .nav-link,
.nav-pills .show>.nav-link {
  font-size: 3vh;
  color: #323232;
  width: 25%;
}

.cool-link {
    display: inline-block;
    color: #1c13a0;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #1c13a0;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}

.p-responsive {
    font-size: 2.5vh !important;
    margin: 0 1vw;
}

.p-title {
    font-size: 2vw !important;
}

.h-responsive {
    font-size: 2.5vw !important;
}

.router-link-active {
    font-weight: bold;
}

.router-link-active .p-responsive {
    color: #1c13a0 !important;
    font-weight: 900;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: contain;
    
}